<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人信息</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/jquery.min.js"></script>

</head>

<body data-type="chart">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:">欢迎你, <span th:text="${user}">Amaze UI</span> </a>
                        </li>

                       

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
       
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text"  th:text="${username}">
              禁言小张
          </span>
                  
                </div>
            </div>

            <!-- 菜单 -->

            <ul class="sidebar-nav">
               
                 <li class="sidebar-nav-link" id="index">
                    <a>
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link" id="bookad">
                    <a>
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 图书管理
                    </a>
                </li>
                <li class="sidebar-nav-link" id="borrowad">
                    <a >
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 借阅管理
                    </a>
                </li>
                <li class="sidebar-nav-link" id="readerad">
                    <a >
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 读者管理

                    </a>
                </li>
                <li class="sidebar-nav-link" id="selfad">
                    <a class="active">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 个人信息

                    </a>
                </li>
</ul>
</div>

<div class="tpl-login" style="position:absolute;left:-230px;top:-80px;">
            <div class="tpl-login-content" >
                <div class="tpl-login-title">个人信息</div>
                


                <form class="am-form tpl-form-line-form">
                    <div class="am-form-group">
                        <span style="color:white;">用户名:
                        </span><input type="text" class="tpl-form-input" readonly  unselectable="on" th:value="${userid}">

                    </div>

                    <div class="am-form-group">
                        <span style="color:white;" >姓名:
                        <input type="text"  id="username" th:value="${usersname}"></span>
                    </div>

                    <div class="am-form-group">
                         <span style="color:white;">联系电话：
                        <input type="text" class="tpl-form-input" id="phone" th:value="${phone}"></span>
                    </div>

                    <div class="am-form-group">
                         <span style="color:white;">借书权限:
                        <input type="text" class="tpl-form-input" readonly  unselectable="on" th:value="${iscan}"></span>
                    </div>
<div class="am-form-group">

                   <div class="am-form-group">
                         <span style="color:white;">密码:
                        <input type="password" class="tpl-form-input" id="password" th:value="${password}"></span>
                    </div>
<div class="am-form-group">

                        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">提交</button>

                    </div>
<div class="am-form-group">

                        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn">修改密码</button>

                    </div>
                   
</div>
    
              
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
<script text="text/javascript">
    document.getElementById("index").onclick=function(){
        window.location="index"+window.location.search;
    }
document.getElementById("bookad").onclick=function(){
        window.location="book"+window.location.search;
    }
document.getElementById("borrowad").onclick=function(){
        window.location="borrow"+window.location.search;
    }
document.getElementById("readerad").onclick=function(){
        window.location="reader"+window.location.search;
    }
document.getElementById("selfad").onclick=function(){
        window.location="selfinfo"+window.location.search;
    }
</script>
</html>